<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftRestModel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>820BEE071C5F62660080821F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>822F2A801C5A022900FF7A42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>822F2A941C5A022900FF7A42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
